{
 "vagrant": {
  "host_name": "devmaster.localhost",
  "adapter": "eth0",
  "recipe": "devudo::aegir-devmaster",
  "source_path":  "/home/jon/Repos"
 },
 "aegir": {
  "client_email": "jon@thinkdrop.net"
 },
"mysql": {
  "server_root_password": "ForChefSoloYouMustSaveYourRootPassword"
 }
}