{
 "vagrant": {
  "host_name": "devmaster.localhost",
  "adapter": "wlan0",
  "source_path":  "/home/jon/Repos",
  "cookbooks_path":  "/var/chef/cookbooks"
 },
 "aegir": {
  "client_email": "jon@thinkdrop.net"
 },
"mysql": {
  "server_root_password": "ForChefSoloYouMustSaveYourRootPassword",
  "server_debian_password": "ForChefSoloYouMustSaveYourRootPassword",
  "server_repl_password": "ForChefSoloYouMustSaveYourRootPassword"
 },
 "run_list": [
   "recipe[devudo::vagrant]",
   "recipe[devudo::aegir-devmaster-dev]"
 ]
}