
<VirtualHost *:80>
    DocumentRoot    "{{ app_root }}/web"
    DirectoryIndex  index.php index.html

    SetEnv          SYMFONY__APP__GITHUB__USERNAME {{ hubdrop_github_username }}
    SetEnv          SYMFONY__APP__GITHUB__ORGANIZATION {{ hubdrop_github_organization }}
    SetEnv          SYMFONY__APP__DRUPAL__USERNAME {{ hubdrop_drupal_username }}

    SetEnv          SYMFONY__APP__URL {{ server_hostname }}
    SetEnv          SYMFONY_ENV {{ symfony_environment }}
    SetEnv          SYMFONY__APP__JENKINS_URL http://{{ server_hostname }}:8080


    <Directory "{{ app_root }}/web">
        AllowOverride All
        Allow from All
    </Directory>

    ErrorLog {{ apache_error_log_root }}
    CustomLog {{ apache_access_log_root }} combined

</VirtualHost>
