export SYMFONY__APP__GITHUB__USERNAME=hubdrop-user
export SYMFONY__APP__GITHUB__ORGANIZATION=drupalprojects
export SYMFONY__APP__DRUPAL__USERNAME=hubdrop
export SYMFONY__APP__GITHUB__AUTHORIZATION=
export SYMFONY__APP__URL={{ server_hostname }}
