export SYMFONY__APP__GITHUB__USERNAME={{ hubdrop_github_username }}
export SYMFONY__APP__GITHUB__ORGANIZATION={{ hubdrop_github_organization }}
export SYMFONY__APP__DRUPAL__USERNAME={{ hubdrop_drupal_username }}

export SYMFONY__APP__URL={{ server_hostname }}

export SYMFONY__APP__JENKINS_URL=http://{{ server_hostname }}:8080
