export SYMFONY__APP__GITHUB__USERNAME=hubdrop-user
export SYMFONY__APP__GITHUB__ORGANIZATION=drupalprojects
export SYMFONY__APP__DRUPAL__USERNAME=hubdrop

export SYMFONY__APP__GITHUB__AUTHORIZATION={{ github_authorization }}

export SYMFONY__APP__URL={{ server_hostname }}

export SYMFONY__APP__JENKINS_URL=http://{{ server_hostname }}:8080
